.charts-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  gap: 24px;
  background-color: #0B0F2C;
  color: white;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .charts-wrapper {
    flex-direction: column;
  }
}
  