.sidebar {
  width: 180px;
  height: 100vh;              /* Full height sidebar */
  background-color: #0c0e23;
  padding: 50px 10px 70px 10px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;        /* Center horizontally */
  
  text-align: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
}
.logo span {
  color: #ff5cc0;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.menu li {
  display: flex;
  justify-content: center;   /* Icon + text centered together */
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu li:hover {
  background: rgba(255, 92, 192, 0.15);
  color: #fff;
}

.menu li.active {
  background: linear-gradient(90deg, #ff5cc0, #a84cff);
  color: white;
}
