.app {
  display: flex;
  background-color: #11132D;
  min-height: 500vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stacks TopSection and Charts vertically */
  padding: 30px;
  color: white;
  background-color: #11132D;
}
